
// Universal Styles.
////////////////////
* {
  font-family: $mainFontFamily;
}

body {
  background-color: $mainBackgroundColor;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

// Main wrapper.
////////////////
.mainWrapper {
  margin: 2% auto 0;
  width: 90vw;
}

.headerBanner::after {
  clear: both;
  content: '';
  display: block;
}

.folioIcon {
  float: left;
  width: 170px;
}

// Burger Menu styles.
//////////////////////
.burgerIcon {
  float: right;
  width: 25px;
  padding: 4%;
}

.tabsMenu a {
  display: none;
  float: right;
  text-decoration: none;
  padding-top: 5px;
  font-weight: bold;
  color: $mainFontColor;
  &:hover {
    color: $pinkHover;
    transition: 0.5s;
  }
}

.burgerWrapper {
  cursor: pointer;
  width: 25px;
  float: right;
  height: 25px;
  &:hover > .tabsMenu > a {
    display: inline-block;
  }
}

// First Content Block.
///////////////////////
.titleWrapper {
  position: relative;
}

.backgroundIcons {
  position: absolute;
  width: 35px;
}

.thunderIconTop {
  left: 80%;
}
.waterIconTop {
  left: 50%;
}
.arrowIconTop {
  top: 100%;
}
.wavesIconTop {
  top: 100%;
  left: 90%;
}

.welcomeTitle {
  color: $mainFontColor;
  font-size: 5rem;
  margin-bottom: 0;
}

.contentParagraph {
  color: $mainFontColor;
  opacity: 0.6;
  font-size: 0.7rem;
  margin-top: 0;
}


// Image Wrapper.
/////////////////
.imgWrapper {
  margin: 15% 0;
  display: inline-block;
  text-align: center;
}

.img {
  width: 90%;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

// Footer styles.
/////////////////
.footerBlock {
  display: inline-block;
  text-align: center;
  position: relative;
}

.thunderIconButtom {
  left: 30%;
}
.waterIconButtom {
  left: 70%;
  top: 30%;
}
.arrowIconButtom {
  top: 90%;
  left: 20%;
}
.wavesIconButtom {
  top: 60%;
  left: 90%;
}

.phoneNumber {
  color: $mainFontColor;
  font-weight: bold;
  font-size: 2.2rem;
  &:hover {
    color: $blueHover;
  }
}

.hyperLink {
  color: $lightBlueFontColor;
  text-decoration: none;
  &:hover {
    color: $blueHover;
  }
}

.socialMediaBlock {
  margin: 10% 0;
}

.socialMedia {
  text-decoration: none;
  text-transform: uppercase;
  color: $mainFontColor;
  font-weight: bold;
  margin: 4%;
  &:hover {
    color: $pinkHover;
    transition: 0.5s;
  }
}
